<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RoleIntfMapper">
	<resultMap type="RoleIntf" id="RoleIntfResultMap">
		<id column="DB_ID" property="DB_ID" />
		<result column="ROLE_ID" property="ROLE_ID" />
		<result column="INTF_ID" property="INTF_ID" />
	</resultMap>

	<resultMap type="RoleIntf" id="RoleAndIntfResultMap">
		<id column="DB_ID" property="DB_ID" />
		<association property="role" column="ROLE_ID" javaType="Role">
			<id column="ROLE_ID" property="ROLE_ID" />
			<result column="ROLE_NAME" property="ROLE_NAME" />
			<result column="PARENT_ID" property="PARENT_ID" />
			<result column="RIGHTS" property="RIGHTS" />
			<result column="ADD_QX" property="ADD_QX" />
			<result column="DEL_QX" property="DEL_QX" />
			<result column="EDIT_QX" property="EDIT_QX" />
			<result column="QUR_QX" property="QUR_QX" />
			<result column="RPLATFORM" property="RPLATFORM" />
			<result column="ROLE_TYPE" property="ROLE_TYPE" />
		</association>
		<association property="intf" column="INTF_ID" javaType="Intf">
			<id column="INTF_ID" property="INTF_ID" />
			<result column="INTF_NAME" property="INTF_NAME" />
			<result column="INTF_URL" property="INTF_URL" />
			<result column="IPLATFORM" property="IPLATFORM" />
		</association>
	</resultMap>


	<!--表名 -->
	<sql id="tableName">
		"SYS_ROLE_INTF"
	</sql>
	<!-- 字段 -->
	<sql id="Field">
		"DB_ID",
		"ROLE_ID",
		"INTF_ID"
	</sql>

	<!-- 字段值 -->
	<sql id="FieldValue">
		#{DB_ID},
		#{ROLE_ID},
		#{INTF_ID}
	</sql>
	<!--通过ID获取其子一级菜单 -->
	<select id="QueryRoleIntf" parameterType="String" resultMap="RoleIntfResultMap">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		where "DB_ID" = #{DB_ID}
	</select>
	<select id="QueryRoleAndIntf" parameterType="String" resultMap="RoleAndIntfResultMap">
		SELECT 
                ri."DB_ID",
                 r."ROLE_ID",
                 r."ROLE_NAME",
                 r."PARENT_ID",
                 r."RIGHTS",
                 r."ADD_QX",
                 r."DEL_QX",
                 r."EDIT_QX",
                 r."QUR_QX",
                 r."RPLATFORM",
                 r."ROLE_TYPE",
    
                 intf."INTF_ID",
                 intf."INTF_NAME",
                 intf."INTF_URL",
                 intf."IPLATFORM"
		FROM SYS_ROLE_INTF ri ,SYS_ROLE r ,SYS_INTF intf
		WHERE
		ri.ROLE_ID=r.ROLE_ID
		AND ri.INTF_ID=intf.INTF_ID
		<if test="ROLE_ID!=null and ROLE_ID!=null">
			AND ri.ROLE_ID=#{ROLE_ID}
		</if>
		<if test="INTF_ID!=null and INTF_ID!=null">
			AND ri.INTF_ID=#{INTF_ID}
		</if>
	</select>
	<!--新增 -->
	<insert id="insertRoleIntf" parameterType="RoleIntf">
		insert into
		<include refid="tableName"></include>
		(
		<include refid="Field"></include>
		) values (
		<include refid="FieldValue"></include>
		)
	</insert>
	<!--编辑 -->
	<update id="updateRoleIntf" parameterType="RoleIntf">
		update
		<include refid="tableName"></include>
		set
		"ROLE_ID"=#{ROLE_ID},
		"INTF_ID"=#{INTF_ID}
		where
		"DB_ID"=#{DB_ID}
	</update>

	<!--删除菜单 -->
	<delete id="deleteRoleIntfById" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where "DB_ID"=#{DB_ID}
	</delete>

</mapper>