<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserBoMapper">
	<resultMap type="UserBo" id="UserBoResultMap">
		<id column="DB_ID" property="DB_ID" />
		<result column="USER_ID" property="USER_ID" />
		<result column="BO_ID" property="BO_ID" />
	</resultMap>

	<resultMap type="UserBo" id="UserAndBoResultMap">
		<id column="UODB_ID" property="DB_ID" />
		<association property="user" column="USER_ID" javaType="User">
			<id column="USER_ID" property="USER_ID" />
			<result column="USERNAME" property="USERNAME" />
			<result column="UPASSWORD" property="UPASSWORD" />
			<result column="UNAME" property="UNAME" />
			<result column="LAST_LOGIN" property="LAST_LOGIN" />
			<result column="LAST_IP" property="LAST_IP" />
			<result column="STATUS" property="STATUS" />
			<result column="EMAIL" property="EMAIL" />
			<result column="PHONE" property="PHONE" />
			<result column="UGROUP" property="UGROUP" />
			<result column="UPLATFORM" property="UPLATFORM" />
			<result column="UCOMPANY" property="UCOMPANY" />
			<result column="UCOSTCENTER" property="UCOSTCENTER" />
			<result column="UORGANIZATION" property="UORGANIZATION" />
			<result column="POSITION" property="POSITION" />
			<result column="CREATETIME" property="CREATETIME" />
			<result column="INTERSTART" property="INTERSTART" />
			<result column="INTERDURA" property="INTERDURA" />
			<result column="LAST_CHANGE" property="LAST_CHANGE" />
			<result column="OPENID" property="OPENID" />
			<result column="SECPOLICY" property="SECPOLICY" />
		</association>
		<association property="bo" column="BO_ID" javaType="Bo">
			<id column="BDB_ID" property="DB_ID" />
			<result column="BO_NAME" property="BO_NAME" />
			<result column="BO_ID" property="BO_ID" />
			<result column="BO_KEY" property="BO_KEY" />
			<result column="BO_VALUE" property="BO_VALUE" />
			<result column="ADD1" property="ADD1" />
			<result column="ADD2" property="ADD2" />
			<result column="ADD3" property="ADD3" />
			<result column="ADD4" property="ADD4" />
			<result column="ADD5" property="ADD5" />
			<result column="BPLATFORM" property="BPLATFORM" />
		</association>
	</resultMap>


	<!--表名 -->
	<sql id="tableName">
		"SYS_USER_OBJECT"
	</sql>
	<!-- 字段 -->
	<sql id="Field">
		"DB_ID",
		"USER_ID",
		"BO_ID"
	</sql>

	<!-- 字段值 -->
	<sql id="FieldValue">
		#{DB_ID},
		#{USER_ID},
		#{BO_ID}
	</sql>
	<!--通过ID获取其子一级菜单 -->
	<select id="QueryUserBo" parameterType="String" resultMap="UserBoResultMap">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		where "DB_ID" = #{DB_ID}
	</select>
	<select id="QueryUserAndBo" parameterType="String" resultMap="UserAndBoResultMap">
		SELECT uo."DB_ID"" as UODB_ID,
		
		       u."USER_ID",
		       u."USERNAME",
		       u."UPASSWORD",
		       u."UNAME",
		       u."ROLE_ID",
		       u."LAST_LOGIN",
		       u."LAST_IP",
		       u."STATUS",
		       u."EMAIL",
		       u."PHONE",
		       u."UGROUP",
		       u."UPLATFORM",
		       u."UCOMPANY",
		       u."UCOSTCENTER",
		       u."UORGANIZATION",
		       u."UPOSITION",
		       u."CREATETIME",
		       u."INTERSTART",
		       u."INTERDURA",
		       u."LAST_CHANGE",
		       u."OPENID",
		       u."SECPOLICY",
		       
		       b."DB_ID" as BDB_ID,
		       b."BO_NAME",
		       b."BO_ID",
		       b."BO_KEY",
		       b."BO_VALUE",
		       b."ADD1",
		       b."ADD2",
		       b."ADD3",
		       b."ADD4",
		       b."ADD5",
		       b."BPLATFORM"
		FROM SYS_USER_OBJECT uo ,SYS_USER u ,SYS_BO b
		WHERE uo.USER_ID=u.USER_ID
		AND uo.BO_ID=b.DB_ID
		<if test="USER_ID!=null and USER_ID!=null">
        AND uo.USER_ID=#{USER_ID}
        </if>
        <if test="BO_ID!=null and BO_ID!=null">
        AND uo.BO_ID=#{BO_ID}
        </if>
	</select>
	<!--新增 -->
	<insert id="insertUserBo" parameterType="UserBo">
		insert into
		<include refid="tableName"></include>
		(
		<include refid="Field"></include>
		) values (
		<include refid="FieldValue"></include>
		)
	</insert>
	<!--编辑 -->
	<update id="updateUserBo" parameterType="UserBo">
		update
		<include refid="tableName"></include>
		set
		"USER_ID"=#{USER_ID},
		"BO_ID"=#{BO_ID}
		where
		"DB_ID"=#{DB_ID}
	</update>

	<!--删除菜单 -->
	<delete id="deleteUserBoById" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where "DB_ID"=#{DB_ID}
	</delete>

</mapper>